.center-form {
  text-align: center;
}

.form-submit {
  width: 85%;
  border: none;
}

.form-submit .form-text {
  width: 100%;
  border-radius: 0px;
  border: 1px #999999 solid;
  border-right: 0px;
  box-shadow: none;
}

.form-submit:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.form-text:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.form-button {
  width: 15%;
  font-size: 18px;
  padding-top: 4px;
  padding-bottom: 3px;
  background-color: #1A1A1A;
  color: white !important;
}

.form-button:hover {
  background-color: #3C3C3C;
}

.navbar,
.navbar-default {
  background-color: white;
  background-image: none !important;
  border-bottom: gray 1px solid;
}

.navbar-default a {
  color: orange !important;
}

.form-submit-log {
  width: 50%;
  border: none;
}

.form-submit-log .form-text-log {
  width: 100%;
  border-radius: 0px;
  border: 1px #999999 solid;
  border-right: 0px;
  box-shadow: none;
}

.form-submit-log:focus {
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.form-text-log:focus {
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.form-button-log {
  width: 10%;
  font-size: 18px;
  padding-top: 4px;
  padding-bottom: 3px;
  background-color: #1A1A1A;
  color: white !important;
}

.form-button-log:hover {
  background-color: #3C3C3C;
}

.navbar-log,
.navbar-default-log {
  background-color: white;
  background-image: none !important;
  border-bottom: gray 1px solid;
}

.navbar-default-log a {
  color: orange !important;
}