.changeActivatorLogo {
  font-size: 65px;
}

.changeActivatorButton {
  width: 100px;
  height: 122px;
  border-radius: 4px;
  text-align: center;
}

.modalOption {
  font-size: 100px;
}

.hidden {
  display: none;
}

.inputGroupMarginBottom {
  margin-bottom: 5px;
}

.fa-facebook-f {
  margin-left: 3.14px;
  margin-right: 3.13px;
}

.fa-instagram {
  margin-left: 1.11px;
  margin-right: 1.11px
}

.tweetFormSupport {
  margin-left: 0.55px;
  margin-right: 0.56px;
}

.tweetFormOpposing {
  margin-left: 2.78px;
  margin-right: 2.77px
}

.tweetFormUnknown {
  margin-left: 4.44px;
  margin-right:4.44px;
}